[Desktop Entry]
Type=Application
Name=Analyseur HTTP
Comment=Analyseur de trafic HTTP (CustomTkinter + Scapy)
Exec=analyserhttp
Terminal=false
Categories=Network;Utility;
